body
{
  background: $pink;
}
.page-wrapper
{
  background: white;
}

.container
{
  max-width: 940px;
  padding: 0 25px;
  margin: 0 auto;
}

.header
{
  max-width: 1150px;
  padding: 15px 25px;
  margin: 0 auto;
  
  @include maxwidth(640px)
  {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
}
.header-image .background
{
  width: 100%;
  height: 375px;
  background: url(../img/header-bg.jpg) no-repeat top center;
  background-size: cover;
  
  @media screen and (max-width: 800px)
  {
    height: 0;
    padding-bottom: 30%;
  }
}

.logo
{
  float: left;
  
  @include maxwidth(960px)
  {
    float: none;
  }
  @include maxwidth(640px)
  {
    padding: 10px 25px;
  }
  
  img
  {
    display: block;
    height: 100px;
    width: auto;
    
    @include maxwidth(960px)
    {
      margin: 0 auto;
    }
    @include maxwidth(640px)
    {
      height: 80px;
    }
  }
}

.region-header
{
  float: right;
  
  @include maxwidth(960px)
  {
    float: none;
  }
}
.block__main-menu
{
  float: left;
  padding-top: 25px;
  
  @include maxwidth(960px)
  {
    float: none;
    text-align: center;
    padding-top: 10px;
  }
  @include maxwidth(640px)
  {
    display: none;
    padding-top: 0;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    background: white;
    border-top: 1px solid #fef3f8;
    border-bottom: 1px solid #fef3f8;
    z-index: 10000;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  }
  
  .content
  {
    ul
    {
      list-style: none;
    }
    li
    {
      display: inline-block;
      
      @include maxwidth(640px)
      {
        display: block;
        border-top: 1px solid #fef3f8;
        border-bottom: 1px solid #fef3f8;
      }
    }
    a
    {
      display: block;
      color: black;
      font-weight: 300;
      text-decoration: none;
      padding: 0 20px;
      line-height: 50px;
      text-transform: uppercase;
      
      &:hover, &:focus
      {
        color: $pink;
        
        @include maxwidth(640px)
        {
          color: white;
          background: $pink;
          font-weight: 400;
        }
      }
    }
  }
}
.block__instagram-header
{
  float: left;
  padding-top: 25px;
  
  @include maxwidth(960px)
  {
    float: none;
    padding-top: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  .content a
  {
    font-size: 0;
    text-decoration: none;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/instagram-pink.svg) no-repeat center center;
    
    &:after
    {
      content: "";
      position: absolute;
      left: -999999px;
    }
  }
}
.btn-menu
{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
  background: url(../img/menu.svg) no-repeat center center;
  font-size: 0;
  
  @include maxwidth(640px)
  {
    display: block;
  }
}

.footer
{
  background: $pink;
  color: white;
  clear: both;
  padding: 50px 25px;
  text-align: center;
  font-weight: 400;
  
  a
  {
    color: white;
    text-decoration: none;
    
    &:hover, &:focus
    {
      text-decoration: underline;
    }
  }
}
.block__footer-contact
{
  margin-bottom: 20px;
  
  h2
  {
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .content
  {
    a
    {
      font-weight: 700;
      font-size: 1.1em;
      line-height: 36px;
    }
  }
}
.footer-contact--phone
{
  padding-left: 22px;
  background: url(../img/phone-black.svg) no-repeat left center;
}
.footer-contact--phone
{
  padding-left: 34px;
  background: url(../img/email-black.svg) no-repeat left center;
}
.block__instagram-footer
{
  margin: 20px 0;  
  
  .content a
  {
    font-size: 0;
    text-decoration: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/instagram-black.svg) no-repeat center center;
  }
}
.block__footer-menu
{
  margin: 20px 0;
  
  .content
  {
    ul
    {
      list-style: none;
      text-align: center;
    }
    li
    {
      list-style: none;
      display: inline-block;
    }
    a
    {
      display: block;
      padding: 0 5px;
      font-size: 1.1em;
    }
  }
}
.site-by-cci
{
  font-size: 0.85em;
}

.not-front .main-wrapper
{
  padding: 40px 0;
}
