@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700';

body
{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'jenna_sueregular';
    src: url('../fonts/jennasue/jennasue-webfont.woff2') format('woff2'),
         url('../fonts/jennasue/jennasue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@mixin script
{
  font-family: 'jenna_sueregular';
}
.font-script
{
  @include script;
  font-size: 1.5em;
}